            body{
                font-family:arial;
                background-color:#0F0F14;
            }

            html{
                scroll-behavior:smooth;
            }

            .container1{
                display:flex;
                justify-content:space-between;
                align-items:center;
                position:sticky;
                top:0;
                padding:0 30px;
                font-weight:bold;
                font-size:25px;
                z-index:1000;
                

                background:linear-gradient(
                    90deg,
                    #EC4899,
                    #A855F7,
                    #C084FC
                );

                -webkit-background-clip:text;
                -webkit-text-fill-color:transparent;
            }
                

            .sidebar{
                display:flex;
                justify-content:space-between;
                gap:15px;
                font-size:15px;
            }

            .sidebar a{
                color:#FFFFFF;
                text-decoration:none;
            }

            .sidebar a:hover{
                color:#F9A8D4;
            }

            

            .container2{
                display:flex;
                justify-content:center;
                align-items:center;
                gap:80px;
                color:#FFFFFF;

                position:relative;
                overflow:hidden;

                background:linear-gradient(
                    135deg,
                    #050816 0%,
                    #1A0B3D 40%,
                    #4C1D95 70%,
                    #EC4899 100%
                );

                padding:80px 80px;
            }

            .container2::before{
                content:'';

                position:absolute;

                width:700px;
                height:700px;

                background:radial-gradient(
                    circle,
                    rgba(236,72,153,0.6),
                    transparent 70%
                );

                right:-250px;
                top:-100px;

                filter:blur(60px);
            }

            .container2::after{
                content:'';

                position:absolute;

                width:500px;
                height:500px;

                background:radial-gradient(
                    circle,
                    rgba(109,40,217,0.5),
                    transparent 70%
                );

                left:-100px;
                bottom:-150px;

                filter:blur(50px);
            }


            .profile-pic{
                width:200px;
                height:200px;
                border-radius:50%;
                object-fit:cover;
                

                border:5px solid #EC4899;

                 box-shadow:
                    0 0 25px #EC4899,
                    0 0 60px #A855F7,
                     0 0 100px rgba(236,72,153,0.4);

                margin-bottom:10px;
            }
            

            .info{
                font-size:60px;
                font-weight:bold;
                margin-bottom:15px;
                
            }

            .intro1{
                font-size:28px;
                color:#F9A8D4;
                font-weight:600;
            }

            .resume-btn{
                margin-top:20px;
                background:transparent;
                border:2px solid #EC4899;
                color:white;
                padding:15px 35px;
                border-radius:10px;
                font-size:16px;
                cursor:pointer;
                transition:0.3s;
            }

            .resume-btn:hover{
                background:#EC4899;
                box-shadow:
                    0 0 25px #EC4899;
            }

            .info,
            .intro1,
            .container2 p{
                position:relative;
                z-index:2;
            }


            .container3{
                margin-bottom:100px;
                color:#FFFFFF;
                max-width:800px;
                margin-left:auto;
                margin-right:auto;
                text-align:center;
            }

            .head{
                color:#EC4899;
                text-align:center;
                margin-top:200px;
            }

            

            .container4{
                display:flex;
                gap:22px;
                flex-wrap:wrap;
                justify-content:center;
                
            } 

            .box{
                height:30px;
                width:200px;
                background:#181824;
                border:2px solid #A855F7;
                box-shadow:
                    0 0 20px rgba(169,87,249,0.32);
                border-radius:15px;
                padding:10px;
                color:#FFFFFF;
                transition:all 0.3s ease;
            }

            .box:hover{
                transform:translateY(-10px);
                border-color:#EC4899;
                box-shadow:
                    0 0 25px #A855F7,
                    0 0 40px rgba(168,85,247,0.5),
                    0 0 60px rgba(236,72,153,0.3);
            }

            .container5{
                display:flex;
                gap:22px;
                justify-content:center;
                flex-wrap:wrap;
            }


            .box1{
                height:200px;
                width:300px;
                background:#181824;
                border:2px solid #A855F7;
                box-shadow:
                    0 0 20px rgba(169,87,249,0.32);
                border-radius:15px;
                padding:10px;
                color:#FFFFFF;
                transition:all 0.3s ease;
            }

            .box1:hover{
                transform:translateY(-10px) scale(1.03);
                box-shadow:
                    0 0 30px #EC4899,
                    0 0 50px rgba(236,72,153,0.4);
            }

            .display{
                text-align: center;
                color:#FFFFFF;
            }

            .display a{
                color:#A855F7;
                text-decoration: none;
            }

            .display a:hover{
                color:#A855F7;
            }

            .container6{
                background:#181824;
                color:white;
                text-align: center;
                padding:1px;
                margin-top:50px;
            }

            .tophead{
                font-weight:bold;
                color:#A855F7;
                font-size:18px;
            }
